#figure {
    animation: 20s slider ease-in-out infinite;
    width: 120%;
}

@keyframes slider {
    0% { left: -31%; }
    20% { left: -80%; }
    40% { left: -160%; }
    60% { left: -240%; }
    80% { left: -320% }
    100% { left: -400%; }
}

#figure:hover {
    animation-play-state: paused;
}

p img {
    max-width: 100%;
}